<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        /* #name{
            border-color: aqua;
        } */

        /* .text{
            border-color: aqua;
        } */
        input{
            border-color: brown;
        }
    </style>
</head>
<body>
    <h1>new project in github</h1>
    <!-- inline css -->
    <p style="background-color: blue;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur vero nulla corrupti optio fuga totam id repellendus, officia dicta saepe in ex odio magnam suscipit nisi repellat, at est sunt!</p>
    <!-- internal css -->
    <input type="text" name="" id="name" class="text">
</body>
</html>